<div>
	<h3>Items in box # {{ page.box }}</h3>

	<table class="table">
		<tr>
			<th>Item ID</th>
			<th>Lotserial</th>
			<th>Qty</th>
			<th>Remove</th>
		</tr>
		{% for item in packed_items %}
			<tr>
				<td>{{ item.itemid }}</td>
				<td>{{ item.lotserial ? item.lotserial : 'N/A' }}</td>
				<td>
					{% if (item.is_item_serialized()) %}
						{{ item.qty }}
					{% else %}
						<form action="{{ page.fullURL.getUrl() }}" method="post">
							<input type="hidden" name="action" value="edit-barcode">
							<input type="hidden" name="recordnbr" value="{{ item.recordnumber }}">
							<input type="hidden" name="barcode" value="{{ item.barcode }}">
							<div class="placard" data-initialize="placard">
								<div class="placard-popup"></div>
								<input type="number" name="qty" class="form-control qty placard-field" value="{{ item.qty }}">
								<div class="placard-footer">
									<a class="placard-cancel" href="#">Cancel</a>
									<button class="btn btn-success btn-sm placard-accept" type="button">Save</button>
								</div>
							</div>
						</form>
					{% endif %}
				</td>
				<td>
					<form action="{{ page.fullURL.getUrl() }}" method="post">
						<input type="hidden" name="action" value="delete-barcode">
						<input type="hidden" name="recordnbr" value="{{ item.recordnumber }}">
						<button type="submit" class="btn btn-danger btn-sm" type="button">
							<i class="fa fa-trash" aria-hidden="true"></i> Remove
						</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
